@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --cor-primaria: #15a6e9;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    color: #f4f4f4;
    background-color: var(--cor-primaria);

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.conteiner{
    height: 550px;
    width: 366px;
    background-color: #f4f4f4;

    /* entender overflow */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .4);
}

i{
    cursor: pointer;
    transition: all .3s;
    color: #fff;
}

i.active{
    color: var(--cor-primaria);
}

.top{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px;
    font-size: 1rem;
    
    z-index: 10 ;
    /* background-color: red; */
}

.top i{
    color: #111;
    
}

i:hover{
    color: #77cbf1;
}

.cover-image{
    width: 100%;
    height: 335px; /*altura da imagem*/
    position: absolute;
    top:0;
    left: 0;
    background-color: rebeccapurple;
    background: url("imgs/pexels-steve-25892693.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    /* entender */
    transform-origin: 0% 0%;
    transition: all .3s ease-in;
}


.conteiner.active .cover-image{
    transform: scale(0.251);
    left: 23px;
    top: 60px;

    border-radius: 20px;
    transition: all .3s;
}

.conteiner.active .top i{
    color: #111;
}

.player-body{
    width: 100%;
    height: 286px;
    position: absolute;
    top:335px;
    left:0;
    background-color: #111;
    transition: all .3s;
}

.conteiner.active .player-body{
    height: 470px;
    left:0;
    top:180px;
}

.list-wrapper{
    height: 425px;
    width: 100%;
    /* color: wheat; */
    overflow: auto;
    
    position: absolute;
    top: 315px;
    
    transform-origin: 0% 0%;
    transition: all .3s;

    opacity: 0;
    visibility: hidden;
    transform: scale(.1);
}

.conteiner.active .list-wrapper{
    top:182px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


.list{
    width: 100%;
    border-spacing: 0 2px;
}


/* eu queria colocar um padding */
.list tr{
    height: 50px;
    text-align: center;
    background-color: #1d1d1d;
    text-indent: 8px;
    transform-origin: 0%, 50%;
}


.list tr:hover{
    cursor: pointer;
    background-color: #222;
}

.list .title{
    width: 215px;
    text-align: left;
    text-indent: 15px;
    transition: all .3s;
    font-size: 1.2rem;
}

.list tr:hover .title{
    padding-left: 5px;
    width: 210px;
}

.current-song-title{
    position: absolute;
    bottom: -60px;
    right: 23px;
    font-size: .8rem;
    transition: all .3s; 
}

.conteiner.active .current-song-title{
    bottom: 10px;
}

.info{
    position: absolute;
    left: 50%;
    top: 360px;
    
    /* entender */
    transform: translateX(-50%);
    text-align: center;
    transition: all .3s;
}

.info h2{
    font-size: 1rem;
    margin-bottom: .2rem;
}

.info h3{
    font-size: .8rem;
    color: #8d8d8d;
    font-weight: 500;
}

.conteiner.active .info{
    top: 66px;
    left: 126px;
    text-align: left;
    transform: translateX(0);
    color: #111;
}

.controls{
    position: absolute;
    bottom: 75px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.2rem;
    
    font-size: 1.6rem;
    width: 100%;
    height: 2.2rem;
    transition: all .3s;
}

.controls #playpause{
    font-size: 2.5rem;
}


.conteiner.active .controls{
    position: absolute;
    width: 216px;
    gap:2rem;
    bottom: 4px;
    left: -44px;
    transform: scale(.45);
}

.bar{
    position: absolute;
    width: 320px;
    height: 2px;
    top: 500px;
    left: 23px;
    transform-origin: 0% 0%;
    cursor: pointer;
    background-color: #fff;
    transition: all .3s;
}

.conteiner.active .bar{
   top:129px;
   left: 170px;
   color: #111;
   background-color: #111;
   transform: scale(.6875) translateX(-20%); 
}

.bar .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    position: absolute;
    left: 0;
    top: -4px;
    user-select: none;
    pointer-events: none;
    transition: all .3s;
}

.bar .time{
    position: absolute;
    top: -20px;
    left: 0;
    user-select: none;
    width: 100%;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;
}